.cart {
    border-radius: 20px;
}

.cart:hover {
    border: 1px solid grey;
}

.cart a {
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

.cart div {
    text-align: center;
}

#btn_buy {
    width: 100px;
    padding: 12px;
    color: white;
    background-color: #008249;
    border: 0;
    border-radius: 5px;
}

#btn_buy:hover {
    background-color: #009949;
}