.cart {
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px #008249;
    margin-top: 20px;
    cursor: pointer;
}

.cart a {
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

.cart div {
    text-align: center;
}

.store {
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.store:hover {
    border: 1px solid grey;
}

.btn_buy {
    width: 100px;
    padding: 12px;
    color: white;
    background-color: #008249;
    border: 0;
    border-radius: 5px;
}

.btn_buy:hover {
    background-color: #009949;
}