.collect {
    border-radius: 20px;
    cursor: pointer;
}

.collect:hover {
    border: 1px solid grey;
}

.collect a {
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

.collect div {
    text-align: center;
}