.store {
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.store:hover {
    box-shadow: 1px 1px 5px 1px #008249;
}

#t_address a {
    text-decoration: none;
    cursor: pointer;
}

#btn_add_address,
#btn_logout,
#btn_edit,
#btn_admin {
    text-decoration: none;
    width: 120px;
    border: 0;
    border-radius: 3px;
    background-color: #008249;
    cursor: pointer;
    padding: 12px;
    color: white;
}

#btn_add_address:hover,
#btn_logout:hover,
#btn_edit:hover,
#btn_admin:hover {
    background-color: #009949;
}

#btn_logout,
#btn_edit,
#btn_admin {
    margin-top: 20px;
}