.productdiv {
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.productdiv:hover {
    box-shadow: 1px 1px 5px 1px #008249;
}

.productdiv a {
    text-decoration: none;
}

#btn_add_product {
    width: 100px;
    border: 0;
    padding: 12px;
    color: white;
    background-color: #008249;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.order {
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
}

.order:hover {
    border: 1px solid grey;
}