.order {
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
}

.order:hover {
    border: 1px solid grey;
}

.order a {
    display: block;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
}

#orderDetails .od {
    height: 200px;
    border: 1px solid grey;
}